</main><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&copy; CmsShoppingCart</p>
  <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
  <script src="/js/main.js"></script>
    </body>
</html>