</div>
<!-- Footer -->
<div class="footer section">
    <div class="footerSections">
        <div class="footerSection">
            <div class="footerSecTitle">
                About Us
            </div>

            <div class="footerSecBody">
                <p>The Assembly is a way for you
                    to easily locate and purchase your needed DU items,
                    created and operated by Shadow Templar - an org
                    that takes a leading role in innovative DU related projects</p>
            </div>
        </div>
        <div class="footerSection">
            <div class="footerSecTitle">
                Contact us
            </div>

            <div class="footerSecBody">
                <p>If you have any questions or you want to make a more specific purchase contact us on Discord.</p>
            </div>
        </div>
        <div class="footerSection">
            <div class="footerSecTitle">
                How to purchase?
            </div>

            <div class="footerSecBody">
                <p>Making purchases is quick and easy. Add the products you want, go to your shopping cart, and choose
                    the quantities. We will ask you for a delivery location and contact you on Discord once the order is
                    ready</p>
            </div>
        </div>
        <div class="footerSection">
            <div class="footerSecTitle">
                Join our team
            </div>

            <div class="footerSecBody">
                <p>If you wish to be a member on our team and join in our projects - Come chat with us on Discord!
                </p>
                <div class="discordLogo">
                    <a href="https://discord.gg/sY8JFne" target="_new">
                        <img src="/images/icons8-discord-new-logo-48.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footerTitle">
        <img class="footerLogo" src="/images/NewLogo_web.png" />
        <div class="footerTitleText">
            Part of the Shadow Templar Organization
        </div>
    </div>
    <div class="footerBottom">
      Created by Ana Getovska.© 2020 Shadow Templar Org. All rights reserved
    </div>
</div>
</div>
<!-- Footer End -->
<script>
    var productDB = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/api/productSearch?q=%QUERY%',
            wildcard: '%QUERY%'
        }
    });
    $("#productSearch").typeahead({
        minLength: 2,
        highlight: true
    },
        {
            display: 'title',
            name: 'products',
            source: productDB,
            templates: {
                empty: [
                    '<div class="empty-message">',
                    'Unable to find products.',
                    '</div>'
                ].join('\n'),
                suggestion: Handlebars.compile('<div><img src="/product_images/{{image}}" />{{title}}</div>')
            }
        });
</script>
</body>

</html>